.carousel-inner img {
  height: 500px;
  object-fit: cover;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.cards__all {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
}

.col-3 {
  flex: 0 0 30%;
  margin: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
}

.col-3:hover {
  transform: scale(1.05);
}

.col-3 img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
  
}

.col-3 div {
  padding: 10px;
}

.col-3 span {
  display: block;
  margin-top: 5px;
  font-weight: bold;
  color: #ff0095;
}

button {
  background-color: #a01111;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin: 5px;
}

button:hover {
  background-color: #ff0111;
  transform: scale(1.05);
}

button i {
  margin-right: 5px;
}
